//components
@use './variables' as *;

.wrapper {
    margin: 0 auto;
    width: 100%;
    max-width: 1700px;
}


.section {
    margin-top: 1em;
    padding: .5em 1em;
}


.section__title {
    position: relative;
    font-size: 2rem;
    text-align: center;
    font-family: "Playfair", serif;
    font-weight: 300;
    text-transform: uppercase;
    padding: .5em;
    margin-bottom: 1em;

    &::after {
        content: '';
        position: absolute;
        bottom: 15px;
        left: 50%;
        transform: translateX(-50%);
        width: 10%;
        height: 1px;
        background-color: $dark;


    }
}

@media (min-width : 992px) {
    .section__title {
        font-size: 3.5rem;

        &::after {
            content: '';
            position: absolute;
            bottom: 25px;
            left: 50%;
            transform: translateX(-50%);
            width: 5%;
            height: 1px;
            background-color: $dark;


        }
    }
}