// >1200px


@media (min-width: 1400px) {
    .about{
        &__photo{
            width: 45%;
        }


        &__text{
            width: 50%;
            &::after{
                height: 150%;
                left: -2em;
            }
        }
    }

}


@media (min-width: 1800px) {
        .header {
        
                &__title,
                &__white {
                    font-size: 7rem;
                }
        
            }
}