//--390--//
@media (min-width: 340px) {
    .shop {
        &__link {
            padding: .5em;
        }
    }
}

@media (min-width: 390px) {
    .shop {
        &__link {
            padding: .5em 1em;
        }

        &__photo {
            height: 60vh;
        }

        &__widget{
            margin-top: 1em;
        }
    }



}




//--430--//

@media (min-width: 430px) {


    .header {
        &__title {
           
            font-size: 1.9rem;

        }
    }


}