// @media (min-width: 1200px) {
//     /* Stylizacje dla większych laptopów i monitorów desktopowych */
// }

@use '../variables' as *;

@media (min-width: 1200px) {

    .header {

        &__title,
        &__white {
            font-size: 3rem;
        }

    }

    .navbar {
        &__item {
            &--link {
                font-size: .9rem;
            }

        }

        &__shop {
            &--icon {
                font-size: 1.2rem;
            }

        }
    }

    .about {
        &__text {
            font-size: 1.1rem;

        }
    }


    .offers {
        &::before {

            top: 58%;

            height: 90%;

        }

        &__container {
            &--main {
                width: 350px;
                height: 350px;

            }

            &--first {
                height: 500px;
            }
        }
    }

    .offer {
        &__text {
            font-size: 1.8rem;

            &--secondary {
                font-size: 1.3rem;
            }
        }
    }

    .hero {
        &__link {
            font-size: 1.2rem;
        }
    }

    .courses {
        &__photo {


            height: 45vh;

            &--second {
                top: -5%;
            }

            &--first,
            &--third {
                bottom: -15%;
            }
        }
    }

    .review {
        margin-top: 6em;

        &__slick {
            &--right {
                width: 60px;
                height: 60px;

            }

            &--img {
                width: 60px;
                height: 60px;
            }

        }
    }

    .training {

        &__background {
            &--premium {
                background-position: top;
            }
        }

        &__container {
            &--main {
                position: relative;
                display: flex;
                justify-content: center;
                align-items: center;
                height: 100%;
                padding-bottom: 3em;
            }


            &--photo {
                flex-direction: column;
                height: 300vh;
                justify-content: space-between;
            }

            &--individual {
                height: 150vh;

            }

            &--local {
                height: 220vh;

            }

            &--makeup {
                height: 150vh;

            }

            &--day {
                position: relative;
                margin-bottom: 4em;

                &::after {
                    position: absolute;
                    content: '';
                    bottom: -50px;
                    left: 50%;
                    transform: translateX(-50%);
                    height: 1px;
                    width: 30%;
                    background-color: $dark;
                }

            }
        }

        &__group {
            width: 100vh;
            height: 100vh;

            &--third,
            &--fourth,
            &--seventh,
            &--eighth {
                width: 60vh;
                height: 60vh;
            }

            &--fifth,
            &--sixth {
                width: 80vh;
                height: 70vh;
            }
        }

        &__shop {
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
            font-size: 1.4rem;

        }

        &__price {
            &--desktop {
                position: absolute;
                top: 49%;
                left: 70%;
                transform: translate(-50%, -50%);


                &::after {
                    position: absolute;
                    content: '';
                    left: -100px;
                    top: 50%;
                    transform: translateY(-50%);
                    width: 1px;
                    height: 60%;
                    background-color: $dark;

                }
            }

            &--local {
                position: absolute;
                top: 47%;
                left: 77%;
                transform: translate(-50%, -50%);

                &::after {
                    position: absolute;
                    content: '';
                    left: -50px;
                    top: 50%;
                    transform: translateY(-50%);
                    width: 1px;
                    height: 60%;
                    background-color: $dark;

                }



            }

        }

        &__info {
            height: 100%;
        }

        &__text {
            &--local {
                font-size: 1.5rem;
            }
        }
    }

    .schedule {
        &__title {
            &--box {
                position: relative;
                margin-top: 1em;


            }
        }

        &__extra {
            font-size: .6rem;
        }
    }

    .premium {
        &__element {
            font-size: 1.2rem;
        }

        &__title {
            font-size: 1.5rem;
        }

     
    }
}