// @media (min-width: 1200px) {
//     /* Stylizacje dla większych laptopów i monitorów desktopowych */
// }



@media (min-width: 1200px) {

    .header {

        &__title,
        &__white {
            font-size: 5rem;
        }

    }

    .navbar {
        &__item {
            font-size: 1.2rem;
        }

        &__shop {
            &--icon {
                font-size: 1.2rem;
            }

        }
    }

    .about {
        &__text {
            font-size: 1.3rem;
        }
    }


    .offers {
        &::before {

            top: 63%;

            height: 81%;

        }

        &__container {
            &--main {
                width: 350px;
                height: 350px;

            }

            &--first {
                height: 500px;
            }
        }
    }

    .offer {
        &__text {
            font-size: 1.8rem;

            &--secondary {
                font-size: 1.3rem;
            }
        }
    }

    .courses {
        &__photo {


            height: 45vh;

            &--second {
                top: -5%;
            }

            &--first,
            &--third {
                bottom: -15%;
            }
        }
    }

    .review {
        margin-top: 6em;
        &__slick {
            &--right {
                width: 60px;
                height: 60px;

            }

            &--img {
                width: 60px;
                height: 60px;
            }

        }
    }
}
