// @media (min-width: 768px) {
//     /* Stylizacje dla tabletów */
// }
// @media (min-width: 992px) {
//     /* Stylizacje dla większych tabletów i małych laptopów */
// }

@use '../variables' as *;

@media (min-width: 768px) {
    .header {
        &__title {
            font-size: 2.3rem;
            font-weight: lighter;

        }

        &__courses {
            height: 90vh;
        }

        &__video {
            height: 90%;
        }
    }

    .review {
        &__slick {
            &--right {
                width: 40px;
                height: 40px;

            }

            &--img {
                width: 40px;
                height: 40px;
            }


        }
    }

}





//DESKTOP

//--900--//

@media (min-width: 900px) {
    .courses {


        &__photo {
            width: 60%;
            height: 80vh;
        }

        &__link {
            bottom: -20%;
        }
    }
}


@media (min-width : 992px) {
    .hidden {
        position: absolute;
        opacity: 0;
        top: 0;
        left: 0;
    }

    .google {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
    }

    .title {

        height: 100%;
        width: 50%;
        display: flex;
        justify-content: flex-end;
        align-items: center;


    }

    .burger-btn {
        display: none;
    }

    .header {
        background-color: $pure-white;


        display: flex;
        justify-content: center;
        align-items: center;

        &__mobile {
            display: none;
        }

        &__desktop {
            display: block;
        }



        &__hero {
            position: relative;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            background-repeat: no-repeat;
            background-size: cover;
            top: 0;
            right: 0;
            width: 50%;
            height: 100%;
            opacity: 1;
            z-index: -1;

            &--courses {
                width: 100%;
                height: 100v;
                background-size: contain;
            }
        }

        &__title {

            text-align: right;
            margin-top: 0;
            font-size: 2rem;
            color: $dark;
            padding: 0;


        }

        &__logo {
            background-image: url(../../../dist/img/Gabriela_Szymańska_LOGO_page-0001.jpg);
            height: 7em;
            width: 11em;
            top: 20px;
            left: 20px;
        }

        &__white {
            opacity: 0;
            text-align: left;
            text-transform: uppercase;
            font-size: 2rem;
            color: $pure-white;
            font-weight: lighter;

        }
    }

    .navbar {

        &__mobile {
            display: none;
        }

        &__desktop {
            position: static;
            display: block;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: .2em;

            background-color: rgba(255, 255, 255, 0.781);


        }

        &__main {
            display: block;

            width: 60%;
        }



        &__list {

            display: flex;
            list-style: none;
            justify-content: center;
            align-items: center;
            flex-direction: row;
            height: 100%;



        }

        &__item {
            flex: 1;
            text-align: center;
            position: relative;
            text-transform: uppercase;

            border-right: 1px solid $dark;

            &--link {
                font-size: 1.1rem;
                height: 100%;
                transition: transform 1s;

                &:hover {
                    transform: scale(1.1);
                }

            }



        }

        &__extra {
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            width: 30%;
        }

        &__shop {

            width: 50%;
            border-right: 1px solid $dark;

            &--icon {
                position: static;
                display: inline-block;
                text-align: center;
                font-size: 1rem;
                width: 100%;
                transition: transform 1s;

                &:hover {
                    transform: scale(1.1);
                }

            }

        }


        &__instagram,
        &__facebook {
            transition: transform 1s;

            &:hover {
                transform: scale(1.1);
            }
        }

        &__socials {
            position: static;
            font-size: 2rem;
            width: 50%;
        }

    }

    .about {
        border-bottom: none;
        &__container {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        &__photo {
            position: relative;
            width: 50%;


        }

        &__text {
            text-align: center;
            width: 40%;
            font-size: 1.2rem;

            &::after {
                content: '';
                position: absolute;
                display: block;
                left: -2.5em;
                top: 50%;
                transform: translateY(-50%);
                width: 1px;
                height: 80%;
                background-color: $dark;
            }
        }
    }

    .hero {
        display: block;
        height: 60vh;
        box-shadow: 5px 5px 10px rgba($color: #2e2e2e2e, $alpha: 0.2);

        &__mobile {
            display: none;
        }

        &__links {
            position: absolute;
            top: 0;
            left: 0;
            display: flex;
            justify-content: space-around;
            align-items: flex-end;
            width: 100%;
            height: 100%;
        }

        &__link {
            font-size: 1rem;
            position: relative;
            opacity: 1;
            color: $pure-white;
            text-decoration: none;
            text-transform: uppercase;
            margin-bottom: 1em;
            padding: .5em 1em;
            border: 1px solid $pure-white;
            transition: background-color 1s;

            &:hover {
                background-color: $dark;
            }


        }

        &__desktop {
            position: relative;
            display: block;
            background-color: black;
            margin-top: 7em;
            box-shadow: 5px 5px 10px rgba($color: #2e2e2e2e, $alpha: 0.2);

            &::after {
                display: none;
            }
        }

        &__background {
            &--desktop {
                display: flex;
                justify-content: center;
                align-items: flex-end;
                width: 100%;
                height: 100%;
                background-image: url('../../../dist/img/hero__shop__new2.png');
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                background-attachment: fixed;
                opacity: .5;

            }
        }


    }

    .offers {
        position: relative;

        &::before {
            content: '';
            position: absolute;
            top: 60%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 1px;
            height: 89%;
            background-color: $dark;
        }





        &__title {
            margin-bottom: 1em;
        }

        &__container {
            position: relative;
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-direction: row;

            &::after,
            &::before {
                content: '';
                position: absolute;
                height: 1px;
                width: 90%;
                background-color: $dark;
            }

            &::after {
                top: -1.5em;
                left: 50%;
                transform: translateX(-50%);
            }

            &::before {
                bottom: -1.5em;
                left: 50%;
                transform: translateX(-50%);
            }


            &--main {
                width: 300px;
                height: 300px;
                margin-bottom: 0;
            }

            &--first {
                height: 400px;
            }
        }
    }

    .offer {
        &__element {
            width: 100%;
            height: 100%;
            transition: transform 1s;

            &::after {
                transition: opacity 1s;
            }

            &:hover {
                transform: scale(1.2);

                &::after {
                    opacity: .2;
                }
            }


        }

        &__text {
            font-size: 1.6rem;

            &--secondary {
                font-size: 1rem;
            }
        }
    }

    .shop {
        position: relative;

        &::after {
            content: "";
            position: absolute;
            height: 40%;
            width: 1px;
            background-color: $dark;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        &__title {
            font-size: 2rem;
            position: absolute;
            top: 10%;
            left: 50%;
            transform: translateX(-50%);

            &::after {
                display: none;
            }
        }

        &__container {
            display: block;
        }

        &__widget {
            display: block;
        }

        &__arrow {
            display: none;
        }

        &__photo {
            width: 20vw;
            height: 50vh;

            &--first {
                position: absolute;
                top: 2em;
                left: 1em;
            }

            &--second {

                position: absolute;
                bottom: 1em;
                right: 1em;
                display: block;

            }
        }

        &__link {
            position: absolute;
            left: 1em;
            bottom: 3em;
            border: none;
            font-weight: normal;
            font-size: 1.5rem;
            border-bottom: 1px solid $dark;

            &:hover {
                background-color: transparent;
            }
        }
    }

    .courses {
        height: 80vh;
        position: relative;

        &__mobile {
            display: none;
        }

        &__desktop {
            display: block;
        }

        &__link {
            &--desktop {

                top: 90%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 30%;
                cursor: pointer;
                font-size: 1.5rem;

                &::after {
                    position: absolute;
                    content: '';
                    bottom: 35%;
                    left: 50%;
                    transform: translateX(-50%);
                    height: 1px;
                    width: 10%;
                    background-color: $dark;

                }
            }

        }

        &__container {
            width: 100%;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
        }

        &__photo {

            width: 20vw;
            height: 40vh;
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            box-shadow: 5px 5px 10px rgba($color: #2e2e2e2e, $alpha: 0.2);



            &--first {
                position: absolute;
                bottom: 0;
                left: 5%;
                background-image: url('../../../dist/img/szkolenia7.jpg');
            }

            &--second {
                position: absolute;
                top: 5%;
                left: 50%;
                transform: translateX(-50%);
                background-image: url('../../../dist/img/szkolenia6.jpg');
            }

            &--third {
                position: absolute;
                right: 5%;
                bottom: 0;
                background-image: url('../../../dist/img/szkolenia5.jpg');
            }
        }
    }

    .review {

        &__header {
            font-size: 1.2rem;
            font-weight: lighter;

        }

        &__text {
            width: 50%;
            font-size: 1rem;
        }
    }

    .contact {
        &__container {
            flex-direction: row;
            background-attachment: fixed;

        }

        &__header {
            font-size: 1.5rem;
            color: $pure-white;
            text-transform: uppercase;
            text-align: center;
            margin-bottom: 5em;
        }


    }

    .form-group input,
    .form-group textarea {

        width: 60%;
    }

    .right {
        flex-direction: column;
        width: 20%;


    }

    .social-icons {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: column;
        height: 50%;

        font-size: 2.5rem;

    }

    .social-link{
        transition: transform 1s;
        &:hover{
            transform: scale(1.2);
        }
    }


    .phone {

        font-size: 1.3rem;

    }

    .footer {
        height: 13vh;

        &__title {
            font-size: 1rem;
        }

        &__link {
            font-size: .7rem;
        }
    }

    .training {
        &__background {
            background-attachment: fixed;
        }

        &__header {
            height: 50vh;
        }

        &__title {
            font-size: 3rem;
        }

        &__text {
            font-size: 1.1rem;
        }

        &__shop {
            font-size: 1.4rem;
        }

        &__container{
            &--info{
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
            }
        }


    }

    .lessons {
        &__container {
            margin-bottom: 1em;
        }
    }

    .schedule {
        &__container {
            position: relative;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            width: 100%;



            &::after {
                content: '';
                position: absolute;
                top: 50%;
                left: 35%;
                transform: translateY(-50%);
                height: 100%;
                width: 1px;
                background-color: $dark;
            }

            &--premium {
                display: block;
                width: 70%;

                &::after {
                    display: none;

                }
            }

        }


        &__element,
        &__date {
            font-size: 1.2rem;
        }

        &__extra {
            font-size: .8rem;
        }


        &__title {

            text-align: center;
            width: 30%;
            font-size: 1.5rem;

            &--box {
                width: 100%;
            }

            &--premium {
                width: 50%;
                font-size: 2rem;
            }
        }

        &__text {
            padding: 0 .5em;

        }

        &__info {
            width: 60%;
        }
    }

    .gallery {
        &__elements {
            flex-direction: row;
            width: 100%;
        }

        &__element {
            height: 80vh;
            flex: 1;
        }
    }


    .premium {
        color: $pure-white;

        &__box{
            &--price{
                display: flex;
                justify-content: space-around;
                align-items: center;
                flex-direction: column;
            }
        }

        &__list {
            &--desktop {
                width: 50%;
            }
        }

        &__section {
            &--mobile {
                display: none;
            }

            &--desktop {
                display: block;
            }
        }

        &__container {
            &--background {
                background-attachment: fixed;
                background-position: 10% 30%;
            }
        }

        &__element {
            font-size: .9rem;
            padding: 0 2em;

            &--local {
                font-size: 1rem;
            }

            &--info{
                font-size: .7rem;
            }
        }

        &__title {
            width: 100%;

            &--desktop {
                font-size: 1.5rem;
                width: 50%;
               

            }
        }

        &__background {
            position: relative;
            width: 30vw;
            height: 90vh;

            &::after {
                position: absolute;
                content: '';
                left: -100px;
                top: 50%;
                transform: translateY(-50%);
                width: 1px;
                height: 70%;
                background-color: $pure-white;
            }
        }

        &__box {
            flex-direction: row;

            &--list {
                width: 50%;
            }

            &--photo {
                width: 50%;
            }
        }
    }

    .border {
        &__container {
            height: 80vh;
        }
    }

    .local {
        &__container {
            &--desktop {
                position: relative;
                display: flex;
                justify-content: center;
                align-items: center;

                &::after{
                    position: absolute;
                    content: '';
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%,-50%);
                    width: 1px;
                    height: 20%;
                    background-color: $pure-white;
                }
            }


        }
    }

    .timetable {


        &__element {

            font-size: 1.2rem;

        }

        &__time {
            font-size: 1.2rem;
        }
    }


    .checklist {


        &__element {
            font-size: 1.2rem;
            margin-bottom: .5em;

        }

        &__time {
            font-size: 1.7rem;
        }
    }

    .included {
        &__list {
            list-style: inside;
        }

        &__element {

            font-size: 1.2rem;
            margin-bottom: .5em;

        }

        &__time {
            font-size: 1.7rem;
        }
    }
}







//--1024--//

@media (min-width: 1024px) {}