 // @media (min-width: 480px) {
 //     /* Stylizacje dla telefonów o większych ekranach */
 // }
 // @media (min-width: 576px) {
 //     /* Stylizacje dla większych telefonów */
 // }

 @use '../variables' as *;

 @media (min-width: 430px) {
     .review {
        &__boxes{
            padding: 0 3em;
        }
         &__slick {
             &--right {
                 width: 30px;
                 height: 30px;
                 border: none;
                 background-color: transparent;
                 cursor: pointer;
             }
             &--img{
                width: 30px;
                height: 30px;
             }

             &--left{
                transform: rotate(180deg);
             }

         }
     }
 }

 @media (min-width: 480px) {
     .offer {
         &__text {
             font-size: 2.5rem;

             &--secondary {
                 font-size: 1.6rem;
             }
         }
     }
 }



 @media (min-width: 576px) {
     .header {
         &__title {
             font-size: 2rem;
             
         }
     }

     .shop {


         &__photo {
             width: 40vw;
         }


     }

     .courses {
         text-align: center;

        &__photo {
        
                height: 100vh;
            }

         &__link {
             font-size: 2.5rem;
             bottom: -15%;
         }
     }

     .review{
        &__header{
            font-size: 1.3rem;

        }

        &__text{
            font-size: 1rem;
        }
     }

 }


 //--670--//

 @media (min-width: 670px) {
     .header {
         &__title {
             font-size: 2.1rem;

         }
     }

     .about {
         &__text {
             font-size: 1.3rem;
         }
     }


     .hero {


         &__background {

             box-shadow: 5px 5px 10px rgba($color: #2e2e2e2e, $alpha: 0.2);
             width: 40%;
             height: 50%;

             &--first {
                 top: 0;
             }

             &--second {
                 bottom: 0;
             }

         }

     }

     .offer {
         &__text {
             font-size: 2.7rem;

             &--secondary {
                 font-size: 1.8rem;
             }
         }
     }

 }